.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
.env.local
.env.*.local
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
node_modules/
/dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
